.paragrafos {
  margin-top: -4px;
  margin-bottom: 20px;
  margin-left: 193px;
}

img {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 50px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.container-info-profile {
  display: flex;
  justify-content: center;
}

.container-profile {
  width: 800px;
  height: 600px;
  display: flex;
  background-color: #0d1117;
  color: gainsboro;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px black;
}

.person-information {
  margin-top: -180px;
  margin-left: 110px;
}
.container-buttons-git {
  display: flex;
  justify-content: center;
}

button {
  height: 46px;
  width: 100px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  margin-left: 120px;
  background-color: white;
  cursor: pointer;
  box-shadow: 3px 3px 3px #0d1117;
}
.container-repository {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* @media (max-width: 278px) {
  .container-profile {
    width: 300px;
    height: 100%;
  }
  p {
    margin-left: 0;
  }
} */
